@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 255, 255, 255;
  --primary-rgb: 0, 0, 0;
  --dark-primary-rgb: 54, 54, 54;
  --secondary-rgb: 255, 255, 255;
  --tertiary-rgb: 3, 206, 0;
  --dark-tertiary-rgb: 3, 112, 0;
  --text-rgb: 0, 0, 0;
  --danger-rgb: 255, 79, 66;
  --dark-danger--rgb: 199, 59, 46;
}

body {
  color: rgb(var(--text-rgb));
  background: rgb(var(--background-rgb));
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

.gs-background {
  background: rgb(var(--background-rgb));
}

.gs-background-30 {
  background: rgb(var(--background-rgb), 0.3);
}

.gs-border-primary {
  border: 2px solid rgb(var(--primary-rgb));
}

.gs-border-secondary {
  border: 2px solid rgb(var(--secondary-rgb));
}

.gs-border-tertiary {
  border: 2px solid rgb(var(--tertiary-rgb));
}

.gs-border-dark-tertiary {
  border: 2px solid rgb(var(--dark-tertiary-rgb));
}

.gs-background-primary {
  background: rgb(var(--primary-rgb));
}

.gs-background-dark-primary {
  background: rgb(var(--dark-primary-rgb));
}

.gs-background-secondary {
  background: rgb(var(--secondary-rgb));
}

.gs-background-tertiary {
  background: rgb(var(--tertiary-rgb));
}

.gs-background-dark-tertiary {
  background: rgb(var(--dark-tertiary-rgb));
}

.gs-background-dark-danger {
  background: rgb(var(--dark-danger--rgb));
}

.gs-color-primary {
  color: rgb(var(--primary-rgb));
}

.gs-text {
  color: rgb(var(--text-rgb));
}

.gs-color-tertiary {
  color: rgb(var(--tertiary-rgb));
}

.gs-input {
  border: 2px solid rgb(var(--primary-rgb));
  left: 0;
  top: 0;
}

.gs-input:focus {
  left: 1px;
  top: 1px;
}

.gs-button-primary {
  background-color: rgb(var(--primary-rgb));
  color: rgb(var(--secondary-rgb));
  cursor: pointer;
  left: 0;
  top: 0;
}

.gs-button-primary.click {
  left: 1px;
  top: 1px;
}

.gs-button-secondary-borderless {
  background-color: rgb(var(--secondary-rgb));
  color: rgb(var(--text-rgb));
  cursor: pointer;
  left: 0;
  top: 0;
}

.gs-button-secondary-borderless.click {
  left: 1px;
  top: 1px;
}

.gs-border-primary {
  border: 2px solid rgb(var(--primary-rgb));
}

.gs-button-danger {
  background-color: rgb(var(--danger-rgb));
  color: rgb(var(--secondary-rgb));
  cursor: pointer;
  left: 0;
  top: 0;
}

.gs-button-danger.click {
  left: 1px;
  top: 1px;
}

.gs-button-secondary {
  background-color: rgb(var(--secondary-rgb));
  box-shadow: 0 0 0 2px rgb(var(--primary-rgb)) inset;
  color: rgb(var(--text-rgb));
  cursor: pointer;
  left: 0;
  top: 0;
}

.gs-button-secondary.click {
  left: 1px;
  top: 1px;
}

.gs-input-secondary {
  background-color: rgb(var(--secondary-rgb));
  box-shadow: 0 0 0 2px rgb(var(--primary-rgb)) inset;
  color: rgb(var(--text-rgb));
  cursor: text;
  left: 0;
  top: 0;
}

.gs-input-secondary.click {
  left: 1px;
  top: 1px;
}

.gs-color-danger {
  color: rgb(var(--danger-rgb));
}

.gs-seperator {
  border: 1px solid rgb(var(--text-rgb));
}

.gs-seperator-primary {
  border: 1px solid rgb(var(--primary-rgb));
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.gsi-material-button {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  background-color: WHITE;
  background-image: none;
  border: 1px solid #747775;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #1f1f1f;
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
  max-width: 400px;
  min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
  height: 20px;
  margin-right: 12px;
  min-width: 20px;
  width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsi-material-button:disabled {
  cursor: default;
  background-color: #ffffff61;
  border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
  opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
  opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
  background-color: #303030;
  opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
  background-color: #303030;
  opacity: 8%;
}